html, body {
    margin: unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    flex-wrap: wrap;
}

.diceWrapper {
    gap: 5rem;
}

.diceContainer {
    width: fit-content;
    background: green;
}


.dice {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    color: black;
    margin: 0.6rem 0.5rem;
}

.diceBanner {
    width: auto;
    height: auto;
    font-size: 1.6rem;
    color: whitesmoke;
    padding: 0.4rem 0.4rem;
    text-align: center;
}

.diceValue {
    display: block;
    position: relative;
    margin-top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.btn {
    width: 100%;
    height: 2rem;
    margin: 0.4rem 0;
    padding: 0.1rem 0; 
    appearance: unset;
    font-size: 1.2rem;
    color: black;
    border: none;
    border-radius: 0.2rem;
}

.banner {
    position: static;
    width: 100%;
    height: 4rem;
    background-color: white;
    text-align: center;
    box-shadow: 0rem 0rem 1rem 0.1rem;
}

.bannerTitle {
    font-size: 2rem;
    color: #eee;
    float: left;
    background-color: black;
}

.bettingArea {
    min-width: 250px;
    width: 450px;
    max-width: 450px;
    padding: 0.5rem;
    background-color: red;
}

.betInput {
    font-size: 1.15rem;
}

.radioPick {
    width: 100%;
    height: 2rem;
    appearance: none;
    background-color: hotpink;
    border-radius: 0.2rem;
}

.selected {
    background-color: #aaa;
}

#radioContainer {
    display: grid;
    background-color: pink;
    grid-template-columns: 50% 50%;
    gap: 0.2rem;
}

.contain {
    margin: 0.5rem 0;
}