<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plinko Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.20.0/matter.min.js"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <h1>Plinko Test BOI</h1>
    <script src="../static/scripts/script.js" type="module"></script>

    <div id="gameWrapper" class="gameWrapper">
        <div id="canvasWrapper">
            <canvas id="canvas1"></canvas>
        </div>
    
        <div id="buttonContainer">
            <button id="squareBtn">Square</button>
            <button id="circleBtn">Circle</button>
        </div>
    </div>
    
</body>
</html>