{% extends "layout.html" %}

{% block main %}
<center><h1>Bitch</h1></center>
<div class="main-container">
    <div class="game-grid" id="main">
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
        <div class="game-square"></div>
    </div>
</div>

    
</div>
{% endblock main %}