<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbits</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/styles/orbit.css">
</head>

<body>
    <script type="text/javascript" src="../static/scripts/orbit.js"></script>
    <div id="bgStars" class="bg"></div>
    <div id="sun" class="cBody sun"></div>
    <div id="earth" class="cBody earth"></div>
</body>
</html>