<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../static/styles/todo.css">
</head>
<body>
    <h1>To-do List</h1>
    <div id="mainContainer" class="container">
        <div id="todoInputWrapper">
            <input type="text" name="todo" id="todoInput" class="todoInput">
            <button type="button" id="addBtn">Add To-do</button>
        </div>
        
        <div id="listGroup" class="listGroup">
        </div>
    </div>



    <script src="../static/scripts/todo.js" onload="handleLoad()"></script>
</body>
</html>